.card-anime {
  position: sticky;
  --default-height: 25px;
  top: var(--default-height);
}

.card-anime-view {
  position: sticky;
  top: 10px;
}

.card-img-block {
  img {
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    width: 100%;
  }
}
